.gallery {
    color: #ffffff;
    background-color: $blue;
    &__container {
        padding: 40px 20px;
    }

    &__heading {
        margin-bottom: 30px;
        &-path {
            fill: #ffffff;
        }
    }
    &__title {
        margin-bottom: 35px;
    }
    &__img {
        width: 100%;
        max-width: 846px;
        border-radius: 20px;
    }
    &__tab {
        display: none;
    }
    &__accordion {
        &-btn {
            font-size: 16px;
            line-height: 24px;
            border: none;
            background: transparent;
            color: $gray;
            font-weight: $light;
            letter-spacing: 0.15px;
            padding: 0;
            margin-bottom: 10px;
            cursor: pointer;

            &_active {
                position: relative;
                font-weight: $black;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $gray;
                }
            }

            &:focus {
                outline: none;
            }
        }
        &-item {
            max-height: 24px;
            list-style: none;
            overflow: hidden;
            transition: all .5s linear;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            &_active {
                max-height: 500px;
            }
        }
        &-video {
            position: relative;
            margin: 0 auto;
            max-width: 845px;
        }
        &-live {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 68px;
            height: 30px;
            background-color: #62B58F;
            border-radius: 50px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
@media screen and (min-width: 768px) {
    .gallery {
        padding: 40px 80px;
        padding-bottom: 40px;
        background: none;
        &__container {
            padding: 80px 40px;
            background-color: $blue;
            border-radius: 40px;
            transform: translateY(-80px);
        }
    }
}
@media screen and (min-width: 1024px) {
    .gallery {
        &__container {
            // padding-bottom: 0;
            height: 690px;
            transform: translateY(-100px);
        }
        &__title {
            margin-bottom: 45px;
        }
        &__accordion {
            &-item {
                margin: 0;
                opacity: 0;
                max-height: 0;
                transition: opacity .5s ease;

                &_active {
                    max-height: 900px;
                    opacity: 1;
                }
            }
            &-list {
                transform: translateY(70px);
            }
            &-btn {
                display: none;
            }
        }
        &__tab {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid rgba($color: #fff, $alpha: .15);
            &-item {
                list-style: none;
            }
            &-btn {
                border: none;
                background: transparent;
                color: #ffffff;
                font-size: 16px;
                line-height: 24px;
                padding: 15px 10px;
                cursor: pointer;
                &:focus {
                    outline: none;
                    font-weight: $black;
                    color: #ffffff;
                }
                &_active {
                    position: relative;
                    font-weight: $bold;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: -15px;
                        right: -15px;
                        height: 2px;
                        background-color: #fff;
                    }
                }
            }
            &-stream-btn {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #D5D5D5;
                }
                &_live {
                    &::after {
                        background: #62B58F;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .gallery {
        &__container {
            width: 1400px;
            margin: 0 auto;
            padding: 100px 80px;
        }
    }
}