.swiper {
    &-container {
        width: 100%;
        height: initial;
    }
    &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        padding: 0 5px;
    }
    &-pagination {
        bottom: -3px;
        &-bullet.swiper-pagination-bullet-active {
            background: $red;
        }
        &-bullet {
            // width: 16px !important;
            // height: 16px !important;
        }
    }
}
@media screen and (min-width: 1024px) {
    .swiper {
        &-pagination {
            &-bullet {
                width: 12px !important;
                height: 12px!important;
            }
        }
    }
}